@font-face {
  font-family: 'Balkind';
  src: local('Balkind'),
        url('./fonts/balkind-demo.otf') format('opentype')
}

.athene {
  font-family: 'Athene', sans-serif;
}
.mulish {
  font-family: 'Mulish', sans-serif;
}

.hoverbtn-container {
	width: auto;
	display: flex;
	flex-direction: column;
	//border: 2px solid black;

	@media (max-width: 768px) {
		bottom: 10% !important;
		left: 50% !important;
		transform: translateX(-50%);
		padding: 3% !important;
		font-size: 0.875rem !important;
	}

	@media (max-width: 480px) {
		bottom: 8% !important;
		font-size: 0.75rem !important;
	}
}

.hoverbtn-btn{
	margin: 20px auto;
	border: none;
	padding: 10px 44px;
	position: relative;

  border: 1px solid black;
	&::before{
		transition: all 0.85s ease-in-out;
		content: '';
		width: 100%;
		height: 100%;
		background: black;
		position: absolute;
		top: 0;
		left: 0;
		-webkit-transition: all 0.85s ease-in-out;
		-moz-transition: all 0.85s ease-in-out;
		-ms-transition: all 0.85s ease-in-out;
		-o-transition: all 0.85s ease-in-out;
}

	& .btn-text{
		color: white;
		// check out mdn docs for different types of blend modes. 
		mix-blend-mode: difference;
    transition: all 0.85s ease-in-out;
	}
	&:hover{
		&::before{
			background: black;
			width: 0%;
		}
    .btn-text {
      color: black;
      transition: all 0.85s ease-in-out;
    }
	}
}



.scroll-section-outer {
    overflow: hidden;
    // background-color: #FFF;
}

.scroll-section-inner {
    height: 90vh;
    width: 400vw;
    display: flex;
    flex-direction: row;
    position: relative;
}
.scroll-section {
    height: 90vh;
    width: 100vw;
    position: relative;

    .info__about {
        position: absolute;
        top: 0;

        display: flex;
        flex-direction: row;

        color: #000;
        font-weight: 700;
        letter-spacing: 1px;

        div {
            padding: 3%;
            font-size: 0.9rem; 
            p {
                padding-left: 10%;
            }
        }
        div:nth-child(1) {
            width: 100%;
        }

        @media (max-width: 768px) {
            flex-direction: column;
            font-size: 0.75rem;
            
            div {
                padding: 2%;
                font-size: 0.7rem;
                
                p {
                    padding-left: 5%;
                }
            }
        }
    }

    .info__body {    

        .info-icons {

            .background {
                position: absolute;
                top: 0;
            }
        }

        .room {
            position: absolute;
            width: 40%;
            height: 46.5%;
            top: 30%;
            left: 3%;
            overflow: hidden;

            @media (max-width: 768px) {
                width: 80%;
                height: 35%;
                top: 20%;
                left: 10%;
            }
        }

        .info-text {
            position: absolute;
            bottom: 40%;
            text-transform: uppercase;
            letter-spacing: 1px;

            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 20%;

            h1 {
                // font-size: 5rem;
                font-weight: 300;
            }

            span {
                font-size: 6rem;
            }

            @media (max-width: 768px) {
                bottom: 25%;
                margin-left: 0;
                
                span {
                    font-size: 2.5rem;
                }
            }

            @media (max-width: 480px) {
                bottom: 20%;
                
                span {
                    font-size: 2rem;
                }
            }
        }
    }

    
}

